main {
    min-height: 500px;

}
p{margin: 0px;}

.navbar{
    background-color: $gladiolenblauw;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 99999!important;
}

.navbar button{
    color: white;
}

body{
    padding-top: 100px;
}

.navbar ul li a{
     color: white;
}

.navbar ul li .dropdown-menu a{
    color: black;
}

.navbar-brand{
    color: $gladiolengeel;
}

.modal-content{
    border: none;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.modal-header{
    border-bottom: none;
}

.table thead{
    background: $gladiolenblauw;
    color: $gladiolengeel;
}

.table{
    margin-top: 10px;
}


